////////////////////////////////////////////////////////////////////////////////
///// GLOBAL STYLES

@import "./vars.scss";

body {
  margin: 0;
  padding: 0;
  background-color: $footer-bg-color;
}

* {
  box-sizing: border-box;
}

code {
  background-color: darken($body-bg-color, 10%);
  padding: 0 $space-unit / 4;
  border-radius: $border-radius;
}

.content-wrapper-wrapper {
  background-image: url("/textures/asfalt-dark.png");
}

img {
  display: block;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  max-width: 100%;
}

blockquote, blockquote * {
  font-family: serif !important;
  font-style: italic;
}

blockquote {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 5px 20px;
  border-radius: $border-radius;
}

.theme-container {
  &--home {
    .header-top .page-title,
    .header-top .page-desc {
      display: none;
    }

    .content-wrapper {
      min-height: calc(100vh - #{$header-height-mob-home} - #{$expected-footer-height});
    }
  }
}

.content-wrapper {
  padding-top: $space-unit * 1.5;
  padding-right: $space-unit;
  padding-bottom: $space-unit * 1.5;
  padding-left: $space-unit;
  max-width: 960px;
  min-height: calc(100vh - #{$header-height} - #{$expected-footer-height});
  margin: 0 auto;
  overflow: hidden;

  .language-text code {
    display: block;
    overflow: auto;
    padding: $space-unit;
  }

  .content-title {
    letter-spacing: 0.5rem;
    text-align: center;
    margin-top: 0;
  }

  &--home {
    text-align: center;
    color: #eee;

    .content-title {
      @include display-text;
      margin-bottom: 0;
      text-transform: uppercase;
      font-size: 3.25rem;
      line-height: 3.25rem;
      margin-top: 25vh;
    }

    .content-subtitle {
      @include subtitle-text;
      margin-top: 0;
      font-size: 0.9rem;
      line-height: 1.5rem;
      
      &--desktop {
        line-height: 0.9rem;
        display: none;
      }
    }
  }

  &--post {
    .content-title {
      text-align: left;
      margin-bottom: 0;
      letter-spacing: 0.05rem;
    }

    .content-date {
      @include subtitle-text;
      font-size: $body-font-size * 0.9;
      line-height: $body-font-size * 0.9;
    }

    img {
      margin: ($space-unit * 1.5) auto;
    }

    .content--post {
      margin-top: $space-unit;

      h1, h2, h3, h4, h5, h6 {
        margin-top: $space-unit * 2;
      }
    }
  }
}

/* Larger than mobile */
@media (min-width: 400px) {
  .content-wrapper {
    &--home .content-title {
      font-size: 4.5rem;
      line-height: 4.5rem;
    }
  }
}

/* Larger than phablet */
@media (min-width: 600px) {
  .content-wrapper {
    &--home {
      .content-title {
        font-size: 6rem;
        line-height: 6rem;
      }

      .content-subtitle--desktop {
        display: block;
      }
      .content-subtitle--mobile {
        display: none;
      }
    }

    &--post {
      img {
        margin: ($space-unit * 2) auto;
      }
    }
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .content-wrapper {
    padding-top: $space-unit * 3.5;
    padding-bottom: $space-unit * 3.5;
    overflow: auto;

    &--post {
      padding-top: $space-unit * 1.5;
      padding-right: $space-unit * 1.5;
      padding-bottom: $space-unit * 1.5;
      padding-left: $space-unit * 1.5;
    }

    &--category .content {
      margin: 0 auto;
      max-width: 66%;
      text-align: center;
      margin-bottom: $space-unit * 3;

      p {
        font-size: 1.25rem;
      }
    }
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .content-wrapper {
    padding-right: 0;
    padding-left: 0;

    &--home .content-title {
      font-size: 8rem;
      line-height: 8rem;
    }

    &--post {
      padding-top: $space-unit * 3;
      padding-bottom: $space-unit * 3;
    }
  }
}

@import "./text.scss";
