////////////////////////////////////////////////////////////////////////////////
///// GLOBAL DEFINITIONS

$space-unit: 20px;
$space-unit-half: $space-unit / 2;
$border-radius: 4px;

$palette-primary: #1a472a;
$palette-secondary: #2a623d;
$palette-dark: #222222;
$palette-light1: #5d5d5d;
$palette-light2: #cccccc;

$link-normal: lighten($palette-primary, 10%);
$link-active: lighten($link-normal, 10%);

$z-index-header: 1000;
$z-index-overlay: 10000;

$box-shadow-color: rgba(0, 0, 0, 0.5);
$box-shadow: 2px 2px 6px $box-shadow-color;
$box-shadow-centre: 0 0 6px $box-shadow-color;
$box-shadow-up: 0 -3px 8px $box-shadow-color;
$box-shadow-down: 0 3px 8px $box-shadow-color;

$body-font-size: 16px;
$body-font-size-mobile: 14px;

$font-small: $body-font-size * 0.8;

////////////////////////////////////////////////////////////////////////////////
///// SECTION-SPECIFIC DEFINITIONS

$body-bg-color: $palette-light2;
$body-color: $palette-dark;

$header-bg-color: $palette-primary;
$header-color: #eee;
$header-color-hover: darken($header-color, 20%);
$header-height: 92px;
$header-height-mob: 82px;
$header-height-mob-home: 62px;
$header-height-phone-home: 59px;
$header-height-mob-exp: $header-height-mob + 42px;
$header-link-color: #ffe39f;
$header-link-color-hover: darken($header-link-color, 10%);

$footer-bg-color: $palette-primary;
$footer-color: #eee;
$expected-footer-height: 114px;

$debug-bg-color: rgba(0, 0, 0, 0.8);
$debug-color: #eee;

////////////////////////////////////////////////////////////////////////////////
///// MIXINS

@mixin subtitle-text {
  text-transform: uppercase;
  font-size: $font-small;
  line-height: $font-small;
  letter-spacing: 0.08rem;
}

@mixin display-text {
  font-family: 'Special Elite', sans-serif;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.6);
  letter-spacing: 0.325rem;
}
